<div class="page-container">
  <div class="listing-header">
    <h1>Commandes Passées</h1>
    <div class="add-commande-header">
      <div class="add-commande-header-text">
        <p>Passer une commande</p>
      </div>
      <div class="button-add">
        <button mat-raised-button color="primary" (click)="addCommande()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="listing-container">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let commande of commandes">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{commande.client}}
          </mat-panel-title>
          <mat-panel-description>
            {{commande.date_commande}}
          </mat-panel-description>
          <mat-panel-description>
            #{{commande.numero_commande}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let produit of commande.produits" class="product-row">
          <p>{{produit.nom}}</p>
          <p>{{produit.quantite}}</p>
        </div>
        <div *ngIf="commande.commentaire !== undefined || commande.commentaire !== ''"
             class="commande-commentaire">
          <h3>Commentaire</h3>
          {{commande.commentaire}}
        </div>
        <mat-action-row>
          <button mat-button color="light" (click)="prevStep()">Imprimer</button>
          <button mat-button color="primary" (click)="nextStep()">Terminer</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

