<div class="page-container">
  <div class="listing-header">
    <h1>Commandes Reçus</h1>
  </div>
  <div class="listing-container">
    <mat-accordion *ngIf="commandes !== undefined && commandes.length !== 0; else nothingToShow">
      <mat-expansion-panel *ngFor="let commande of commandes" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{commande.client}}
          </mat-panel-title>
          <mat-panel-description>
           {{commande.date_commande}}
          </mat-panel-description>
          <mat-panel-description>
            #{{commande.numero_commande}}
          </mat-panel-description>
          <mat-icon *ngIf="commande.done" color="primary">done</mat-icon>
        </mat-expansion-panel-header>
        <div *ngFor="let produit of commande.produits" class="product-row">
          <p>{{produit.nom}}</p>
          <p>{{produit.quantite}}</p>
        </div>
        <div *ngIf="commande.commentaire !== undefined || commande.commentaire !== ''"
             class="commande-commentaire">
          <h3>Commentaire</h3>
          {{commande.commentaire}}
        </div>
        <mat-action-row>
          <button mat-button color="light" (click)="prevStep()">Imprimer</button>
          <button mat-button color="primary" (click)="nextStep()" [disabled]="commande.done">Terminer</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <ng-template #nothingToShow>
      <p>Aucune commande à afficher</p>
    </ng-template>
  </div>
</div>
