<h2 mat-dialog-title *ngIf="!edit">Ajouter un utilisateur</h2>
<h2 mat-dialog-title *ngIf="edit">Modifier mot de passe</h2>
<mat-dialog-content>
  <ngForm [formGroup]="addUser">
    <mat-form-field *ngIf="!edit">
      <input matInput placeholder="Nom d'utilisateur" formControlName="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Mot de passe" formControlName="password">
    </mat-form-field>
    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="!addUser.valid"
      *ngIf="!edit">Ajouter</button>
      <button mat-raised-button color="primary" (click)="onChangePassword()" [disabled]="!addUser.valid"
      *ngIf="edit">Modifier</button>
      <mat-spinner class="spinner-onpost" *ngIf="showLoader"></mat-spinner>
    </div>
  </ngForm>
</mat-dialog-content>
