<div class="page-container">
  <div class="login-container">
    <div class="example-container">
      <h1>Compagnie</h1>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="usrn">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="logIn()">Connexion</button>
      <!--<button mat-flat-button>Mot de passe oublié</button>-->
    </div>
  </div>
</div>

